/* #countlable{
     display: block; 
    text-align: center;
    font-size: 10em;
    font-family: Arial, Helvetica, sans-serif;
 
}

#bttncontainer{
    text-align: center;
}

.buttons{
    padding: 10px 20px;
    font: 2em;
    color: white;
    background-color: rgb(134, 15, 220);

    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.25s;

}

.buttons:hover{
    background-color: rgb(24, 9, 224)
    ;
} */



/* --------------- To generate the random number -------- */
/* 
body{
    font-family: Verdana;
    text-align: center;
}
#mybtn{
    font-size: 5em;
    padding:  3px  5px;
    border-radius: 5px;

}



#mylable{
    font-size: 3em;
}  */



/* ----------------------checked property=---------------- */

body{
    margin: 0;
    padding: 0;
}

#mysubmit{
    font-size: 1.2em;
}
#mydiv1{
    font-size: 1em;
    margin: 2px;
    padding: 5px;
}